<h1>Home#index</h1>
<p>Rafa não bebe água, Meu Deus</p>
<img src="https://media.discordapp.net/attachments/761676574243684373/771753163988271154/Screenshot_20201030-121110_Instagram.jpg?width=292&height=475" alt="raf indo matar o professor alan" />
<%# Configurara o boot strap e fazer o scaffod %>